body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
}

.table {
    margin-top: 20px;
}

.card {
    margin-top: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1.2rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}

.footer p {
    margin: 0;
}
body {
  background-image: url('https://w0.peakpx.com/wallpaper/188/649/HD-wallpaper-key-features-of-an-online-reservation-system.jpg');
  background-size: cover; /* zajistí, aby obrázek zaplnil celou plochu */
  background-position: center; /* umístí obrázek do středu */
  background-repeat: no-repeat; /* zabrání opakování obrázku */
}