{% extends 'base.html' %}
{% block content %}
    <h2 class="text-primary text-center text-uppercase m-3">{{ osoba.jmeno }}{{ osoba.prijmeni }}</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>Status</th>
                <td>{{osoba.status}}</td>
            </tr>
            <tr>
                <th>Předplatné</th>
                <td>{{osoba.status}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{osoba.status}}</td>
            </tr>
            <tr>
                <th>Adresa</th>
                <td>{{osoba.status}}</td>
            </tr>
            <tr>
                <th>psc</th>
                <td>{{osoba.status}}</td>
            </tr>
            <tr>
                <th>telefon</th>
                <td>{{osoba.status}}</td>
            </tr>
            <tr>
                <th>psc</th>
                <td>{{osoba.status}}</td>
            </tr>
        </table>
    </div>
    <h3 class="text-primary text-center text-uppercase lg-2">Nahlášené lekce</h3>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="bg-dark text-light">
                <tr>
                    <th>Lekce</th>
                    <th>Datum</th>
                    <th>Mistnost</th>
                </tr>
            </thead>
            <tbody>
                {% for rezervace in rezervace_list %}
                <tr>
                    <td>{{ rezervace.zakaznik.status }}</td>
                    <td>{{ rezervace.zakaznik }}</td>
                    <td>{{ rezervace.zakaznik.predplatne }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">Žádné rezervace</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
